APP_NAME=POSO
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://poso.akunta.local:8010

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
SESSION_DOMAIN=.akunta.local
SANCTUM_STATEFUL_DOMAINS=poso.akunta.local:5174,poso.akunta.local:8010

ECOPA_BASE_URL=http://ecopa.akunta.local
ECOSYSTEM_BASE_DOMAIN=.akunta.local
AKUNTA_JOURNAL_WEBHOOK_URL=http://accounting.akunta.local:8000/api/v1/webhooks/poso
AKUNTA_API_TOKEN=
